.text-animate {
  font-size: 40px;
  display: inline-block;
  opacity: 0;
  animation: bounceIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  font-size: 40px;

  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;
  &:hover {
    animation: rubberBand 1s;
    color: #a33469;
  }
}

@for $i from 1 through 35 {
  .text-animate._#{&i} {
    animation-delay: #{$i / 10}s;
  }
}

@media (min-width: 768px) {
  .text-animate {
    font-size: 53px;
  }
  .text-animate-hover {
    font-size: 53px;
  }
}
