.text-zone {
  display: flex;
  flex-direction: column;

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0 0 0 15px;
    font-family: "Coolvetica";
    font-weight: 400;
    &:before {
      content: "<h1>";
      font-family: "La Belle Aurore", cursive;
      color: #ffd700;
      font-size: 18px;
      display: block;
      opacity: 0.6;
    }
    &:after {
      content: "</h1>";
      font-family: "La Belle Aurore", cursive;
      color: #ffd700;
      font-size: 18px;
      display: block;
      opacity: 0.6;
    }
    img {
      margin-left: 20px;
      width: 32px;
      opacity: 0;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
  p {
    margin-left: 15px;
  }

  h2 {
    color: #8d8d8d;
    margin: 0;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
  }
  .flat-button {
    width: max-content;
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin: 20px 0;
    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}
.home-illustration {
  display: none;
}

@media (min-width: 768px) {
  .text-zone {
    width: 50%;
    h1 {
      margin: 0 0 0 30px;
      line-height: 75px;
    }
    h2 {
      margin: 50px 0;
    }
    p {
      margin-left: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .home-illustration {
    display: block;
    opacity: 1;
    animation: fadeIn 1s 1.8s backwards;
  }
}
