@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

input,
textarea {
  font-family: "Ramabhadra", sans-serif;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  animation: fadeOut 1s 1s;
  animation-fill-mode: forwards;
}


body {
  margin: 0;
  font: 300 11px/1.4 'Ramabhadra', 'sans-serif';
  overflow: hidden;
  display: block;
  background-color: #282c34;
}


::-moz-selection { /* Code for Firefox */
  color: white;
  background: #a33469;
}

::selection {
  color: white;
  background: #a33469;
}